In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("RealEstate Dataset.csv")

In [3]:
df.head(10)

,Property_ID,City,Locality,Property_Type,Bedrooms,Bathrooms,Area_sqft,Price,Property_Age,Furnishing,Parking,Sale_Status,Sale_Date
0,P100000,Kolkata,South,Builder Floor,1,2,3697,41840536,6,Unfurnished,Yes,Sold,2023-10-03
1,P100001,Pune,West,Studio,1,4,1942,30088935,19,Semi-Furnished,No,Sold,2021-06-12
2,P100002,Hyderabad,South,Builder Floor,4,4,419,13277561,18,Semi-Furnished,Yes,Sold,NaN
3,P100003,Kolkata,East,Villa,1,3,3630,40180904,10,Unfurnished,No,Available,NaN
4,P100004,Delhi,East,Apartment,4,3,3941,37906903,0,Semi-Furnished,Yes,Sold,2022-10-11
5,P100005,Hyderabad,West,Studio,2,1,3299,14482360,17,Semi-Furnished,Yes,Sold,2023-09-18
6,P100006,Hyderabad,North,Villa,3,1,3038,25624935,22,Semi-Furnished,Yes,Available,2022-01-11
7,P100007,Kolkata,Central,Builder Floor,2,3,1320,3219539,21,Unfurnished,No,Sold,2024-10-18
8,P100008,Bangalore,North,Studio,2,3,2813,17551076,14,Unfurnished,No,Available,2024-01-25
9,P100009,Delhi,North,Apartment,2,4,400,37539153,12,Unfurnished,Yes,Sold,2024-10-21

In [4]:
df.shape

(12200, 13)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12200 entries, 0 to 12199
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Property_ID    12200 non-null  object
 1   City           12200 non-null  object
 2   Locality       12200 non-null  object
 3   Property_Type  12200 non-null  object
 4   Bedrooms       12200 non-null  int64
 5   Bathrooms      12200 non-null  int64
 6   Area_sqft      12200 non-null  int64
 7   Price          12200 non-null  int64
 8   Property_Age   12200 non-null  int64
 9   Furnishing     11592 non-null  object
 10  Parking        11589 non-null  object
 11  Sale_Status    12200 non-null  object
 12  Sale_Date      11593 non-null  object
dtypes: int64(5), object(8)
memory usage: 1.2+ MB

In [6]:
df.describe()

           Bedrooms     Bathrooms     Area_sqft         Price  Property_Age
count  12200.000000  12200.000000  12200.000000  1.220000e+04  12200.000000
mean       3.015656      2.512459   2198.244426  2.414727e+07     11.956721
std        1.410848      1.114118   1043.083766  1.223458e+07      7.236823
min        1.000000      1.000000    400.000000  3.000245e+06      0.000000
25%        2.000000      2.000000   1292.000000  1.356285e+07      6.000000
50%        3.000000      3.000000   2197.000000  2.409950e+07     12.000000
75%        4.000000      4.000000   3097.250000  3.491517e+07     18.000000
max        5.000000      4.000000   3999.000000  4.499849e+07     24.000000

In [8]:
df.isnull().sum()

Property_ID        0
City               0
Locality           0
Property_Type      0
Bedrooms           0
Bathrooms          0
Area_sqft          0
Price              0
Property_Age       0
Furnishing       608
Parking          611
Sale_Status        0
Sale_Date        607
dtype: int64

In [10]:
df.duplicated().sum()

np.int64(200)

In [11]:
df.columns

Index(['Property_ID', 'City', 'Locality', 'Property_Type', 'Bedrooms',
       'Bathrooms', 'Area_sqft', 'Price', 'Property_Age', 'Furnishing',
       'Parking', 'Sale_Status', 'Sale_Date'],
      dtype='object')

In [12]:
# Furnishing → Replace NULL with "Unknown"
df['Furnishing'] = df['Furnishing'].fillna("Unknown")

In [13]:
#  → Replace NULL with "Unknown"
df['Parking'] = df['Parking'].fillna("No")

In [14]:
# Convert Sale_Date to datetime
df['Sale_Date'] = pd.to_datetime(df['Sale_Date'], errors = "coerce")

In [16]:
# Fix missing Sale_Date for SOLD properties
medain_sale_date = df.loc[
(df["Sale_Status"] == "Sold") & (df["Sale_Date"].notna()),
"Sale_Date"
].median()

df.loc[
(df["Sale_Status"] == "Sold") & (df["Sale_Date"].isna()),
"Sale_Date"
] = medain_sale_date

In [17]:
df = df.drop_duplicates(subset = "Property_ID", keep = "first")

In [18]:
df.duplicated(subset = "Property_ID").sum()

np.int64(0)

In [19]:
df[
    (df["Sale_Status"] == "Sold") & (df["Sale_Date"].isna())
]

Empty DataFrame
Columns: [Property_ID, City, Locality, Property_Type, Bedrooms, Bathrooms, Area_sqft, Price, Property_Age, Furnishing, Parking, Sale_Status, Sale_Date]
Index: []

In [21]:
df[
    (df["Property_Age"] > 20) & (df["Price"] > 30000000)
]

,Property_ID,City,Locality,Property_Type,Bedrooms,Bathrooms,Area_sqft,Price,Property_Age,Furnishing,Parking,Sale_Status,Sale_Date
48,P100048,Mumbai,South,Villa,5,1,1094,34154348,24,Unfurnished,Yes,Sold,2023-06-28
85,P100085,Bangalore,South,Apartment,5,3,1879,30843919,24,Furnished,Yes,Available,2023-06-22
131,P100131,Delhi,West,Villa,2,4,3116,43841932,22,Furnished,No,Available,2022-02-26
182,P100182,Chennai,West,Apartment,5,3,2563,35775113,23,Unfurnished,No,Sold,2024-03-06
205,P100205,Pune,Central,Builder Floor,2,1,1885,42649113,23,Semi-Furnished,No,Sold,2024-05-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11949,P111949,Delhi,East,Apartment,3,2,1223,35341739,24,Semi-Furnished,Yes,Sold,2023-05-03
11965,P111965,Bangalore,East,Villa,2,3,1485,34152335,24,Furnished,Yes,Sold,2023-01-05
11973,P111973,Bangalore,South,Villa,1,3,1547,34550636,22,Unfurnished,Yes,Sold,2024-12-21
11974,P111974,Delhi,North,Studio,1,4,1269,44041025,22,Semi-Furnished,No,Available,2021-12-03
11985,P111985,Mumbai,North,Studio,1,1,670,41440923,22,Furnished,Yes,Sold,2024-01-09

In [25]:
df = df.copy()

In [26]:
df["Price"] = np.where(df["Price"] > price_cap, price_cap, df["Price"])

In [27]:
df["Price_per_sqft"] = df["Price"] / df["Area_sqft"]

In [29]:
city_price_summary = (
    df.groupby("City")
    .agg(
        Avg_Price=("Price", "mean"),
        Avg_Price_per_sqft=("Price_per_sqft", "mean"),
        Property_Count=("Property_ID", "count")
    )
    .reset_index()
)
city_price_summary

        City     Avg_Price  Avg_Price_per_sqft  Property_Count
0  Bangalore  2.383837e+07        15689.599128            1753
1    Chennai  2.434712e+07        15956.105559            1700
2      Delhi  2.433519e+07        15601.531275            1661
3  Hyderabad  2.403360e+07        15481.144870            1738
4    Kolkata  2.395661e+07        15337.755287            1714
5     Mumbai  2.410746e+07        15760.984953            1718
6       Pune  2.437943e+07        15141.494885            1716

In [30]:
df["Property_Age_Group"] = pd.cut(
    df["Property_Age"],
    bins=[-1, 5, 10, 20, 100],
    labels=["0-5 Years", "6-10 Years", "11-20 Years", "20+ Years"]
)

In [37]:
df.isnull().sum()

Property_ID              0
City                     0
Locality                 0
Property_Type            0
Bedrooms                 0
Bathrooms                0
Area_sqft                0
Price                    0
Property_Age             0
Furnishing               0
Parking                  0
Sale_Status              0
Sale_Date             4244
Price_per_sqft           0
Property_Age_Group       0
dtype: int64

In [32]:
df.describe()

,Bedrooms,Bathrooms,Area_sqft,Price,Property_Age,Sale_Date,Price_per_sqft
count,12000.000000,12000.000000,12000.000000,1.200000e+04,12000.000000,11780,12000.000000
mean,3.017500,2.511667,2198.706417,2.414027e+07,11.957667,2023-01-05 23:41:25.161290240,15566.559157
min,1.000000,1.000000,400.000000,3.000245e+06,0.000000,2021-01-01 00:00:00,776.235355
25%,2.000000,2.000000,1294.000000,1.353575e+07,6.000000,2022-01-19 00:00:00,6145.216505
50%,3.000000,3.000000,2198.500000,2.410264e+07,12.000000,2023-01-05 00:00:00,10964.361950
75%,4.000000,4.000000,3099.000000,3.487990e+07,18.000000,2023-12-20 00:00:00,18862.125884
max,5.000000,4.000000,3999.000000,4.470635e+07,24.000000,2024-12-31 00:00:00,111765.885566
std,1.410978,1.114062,1043.121106,1.223794e+07,7.240608,NaN,15100.733815

In [33]:
df.shape

(12000, 15)

In [34]:
df["Sale_Date"] = pd.to_datetime(df["Sale_Date"], errors="coerce")

median_sale_date = df.loc[
    (df["Sale_Status"] == "Sold") & (df["Sale_Date"].notna()),
    "Sale_Date"
].median()

df.loc[
    (df["Sale_Status"] == "Sold") & (df["Sale_Date"].isna()),
    "Sale_Date"
] = median_sale_date

df.loc[
    df["Sale_Status"] == "Available",
    "Sale_Date"
] = pd.NaT

today = pd.Timestamp.today()
df.loc[df["Sale_Date"] > today, "Sale_Date"] = today

In [36]:
df.isnull().sum()

Property_ID              0
City                     0
Locality                 0
Property_Type            0
Bedrooms                 0
Bathrooms                0
Area_sqft                0
Price                    0
Property_Age             0
Furnishing               0
Parking                  0
Sale_Status              0
Sale_Date             4244
Price_per_sqft           0
Property_Age_Group       0
dtype: int64

In [38]:
df.to_csv("cleaned_real_estate_dataset.csv", index=False)